<!DOCTYPE html>
<html>
  <head>
    <title>Chelsea</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <div id="header">
        <div class="container">
          <a id="header-title" href="index.html">CV Website
        </a>
        <ul id="header-nav">
          <li><a href="about.html">Applicable Skills
          </a></li>
          <li><a href="mailto:chelseamartin1994@gmail.com">Contact
          </a></li>
        </ul>
        </div>
    </div>
    <div id="content">
      <div class="container">
        <div class="about">
          <h3 class="about-title">Applicable Skills</h3>
          <div class="about-content">
            <p>

            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="container">
        <div class="column">
          <h4>My Links</h4>
          <p>
            <a href="https://twitter.com/chels_tweets_/">Twitter</a>
            <br>
            <a href="https://www.instagram.com/infinityonpie/">Instagram</a>
          </p>
        </div>
        <div id="footer-blurb" class="column">
          <h4>My Story</h4>
          <p>My name is Chelsea Martin and I started to learn to code in August 2019.
          <br>I still have a way to go, but I'm looking forward to the coming challenges!</p>
        </div>
      </div>
    </div>
  </body>
</html>
